{{#each friends}}
    <li class="window__list-block-item" data-id = "{{id}}">
        <div class="window__list-block-img">
            <img src="{{photo_100}}">
        </div>
        <div class="window__list-block-name">
            <div class="window__list-friend-name">
                {{first_name}} {{last_name}}
            </div>
            <a href="" class="icon_button"></a>
        </div>
    </li>
{{/each}}
